<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>Fashion is our passion
    </title>
    <meta name="description" content="Download free amazing responsive Fashion Blog template."/>
    <meta name="keywords" content="free, responsive, blog, fashion, web site, template"/>
    <link rel="stylesheet" href="css/components.css">
    <link rel="stylesheet" href="css/responsee.css">
    <link rel='stylesheet' href='css/style.css'/>
    <link rel='stylesheet' href="css/fonts.css">
    <link rel="stylesheet" href="css/template-style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/responsee.js"></script>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body class="margin" id="home">

<script>
    <% if(typeof sec == 'undefined' || sec == null) { %>window.location.hash = '#home';
    <% }else if( sec == 'cont' ) { %>  window.location.hash = '#cont';  <%}%>

</script>

<% include headers.ejs %>

<!-- MAIN SECTION -->
<section id="home-section" class="line">
    <div class="margin">
        <!-- ARTICLES -->
        <div class="s-12 l-9">

            <!-- ARTICLE 1 -->
            <article class="post-1 line">
                <!-- image -->
                <div class="s-12 l-6 post-image">
                    <a href="">
                        <img src="images/front/post1.jpg" alt="Fashion 1">
                    </a>
                </div>
                <!-- text -->
                <div class="s-12 l-5 post-text">
                    <a href="">
                        <h2>Wel Come To Paras Impex</h2>
                    </a>
                    <p>Making A Lehnga For Birdal
                    </p>
                </div>
                <!-- date -->
                <div class="s-12 l-1 post-date">
                    <p class="date">01</p>
                    <p class="month">jun</p>

                </div>
            </article>

            <!-- ARTICLE 2 -->
            <article class="post-2 right-align line">
                <!-- image -->
                <div class="s-12 l-6 post-image">
                    <a href="">
                        <img src="images/front/post2.jpg" alt="Fashion 2">
                    </a>
                </div>
                <!-- text -->
                <div class="s-12 l-5 post-text">
                    <a href="">
                        <h2>Amazing fashion Bridal</h2>
                    </a>
                    <p>Making A Bridal collection.
                    </p>
                </div>
                <!-- date -->
                <div class="s-12 l-1 post-date">
                    <p class="date">06</p>
                    <p class="month">aug</p>
                </div>
            </article>

            <!-- ARTICLE 3 -->
            <article class="post-3 line">
                <!-- image -->
                <div class="s-12 l-6 post-image">
                    <a href="">
                        <img src="images/front/post3.jpg" alt="Fashion 3">
                    </a>
                </div>
                <!-- text -->
                <div class="s-12 l-5 post-text">
                    <a href="">
                        <h2 class="auto-style1">the Absolute Charm </h2>
                    </a>
                    <p> exclusive collection of designer lehengas, chaniya choli.
                </div>
                <!-- date -->
                <div class="s-12 l-1 post-date">
                    <p class="date">04</p>
                    <p class="month">dec</p>
                </div>
            </article>

            <!-- ARTICLE 4 -->
            <article class="post-4 right-align line">
                <!-- image -->
                <div class="s-12 l-6 post-image">
                    <a href="">
                        <img src="images/front/post4.jpg" alt="Fashion 4">
                    </a>
                </div>
                <!-- text -->
                <div class="s-12 l-5 post-text">
                    <a href="">
                        <h2>Mehendi Lehengas</h2>
                    </a>
                    <p>gorgeous mehendi lehenga Wide range of designer sangeet lehenga .
                </div>
                <!-- date -->
                <div class="s-12 l-1 post-date">
                    <p class="date">01
                    </p>
                    <p class="month">oct
                    </p>
                </div>
            </article>

            <!-- ARTICLE 5 -->
            <article class="post-5 line">
                <!-- text -->
                <!-- date -->
            </article>
        </div>
        <!-- SIDEBAR -->
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14879.283054459436!2d72.850686!3d21.199278!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ea6243c646379ea!2sParas+Impex!5e0!3m2!1sen!2sin!4v1547293173182"
            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


</section>

<% include footer.ejs %>

</body>
</html>