<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include headers.ejs %>
<h1>Paras Impex Photo Gallery</h1>
<p>Welcome to Paras Impex Photo Gallery</p>
<% include footer.ejs %>
</body>
</html>
