<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="stylesheets/login.css" rel="stylesheet" id="bootstrap-css">
<script src="js/login.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<link href="css/fonts.css" rel="stylesheet" crossorigin="anonymous">

<body class="margin">

<% include headers.ejs %>
<% include acopt.ejs %>

<section id="home-section" class="line ">
    <div class="container">

        <div class="row">
            <div class="col-md-3 mx-auto col-sm-1">


                <h1>Welcome <%= mode %></h1>

            </div>

        </div>
    </div>
    </div>

</section>


</body>


<!-- MAIN SECTION -->




